@charset "UTF-8";
/* CSS Document */
@media screen and (max-width: 1060px) {
    .container {
  width: 90%; /* static width container always stays at this width no matter what the window size */
    }
    ul#menu li a.button {
      	/* this padding defines the size of the buttons */
      	padding: 20px 75px 20px 75px;
        }
    iframe{
        width: 100%;
        }
    #title-page{
        width: 100%;
        padding-top: 100px; /* provides a lot of space above title to view the background image */
        }
    #splash{
        background-size: cover;
        }
    p{
        font-size: 1em;
      }
}

@media screen and (max-width: 767px) {
    ul#menu li a.button {
      	/* this padding defines the size of the buttons */
      	padding: 20px 50px 20px 50px;
        }
    img{
        width: 100%;
        }
    #credits img{
        width: 100px;
        }
    #title-page{
        width: 100%;
        padding-top: 50px; /* provides a lot of space above title to view the background image */
        }
    #splash{
          background-size: cover;
        }
    .navbar.responsive {position: relative;}
    .navbar ul li:not(:last-child) {display: none;}
    .navbar a.icon {
          float: left;
          display: block;
        }
     .navbar.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
        }
     .navbar.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
  }

@media screen and (max-width: 480px) {
    ul#menu li a.button {
      	/* this padding defines the size of the buttons */
      	padding: 10px;
        font-size: 0.9em;
        }
    #title-page{
        width: 100%;
        padding-top: 0px; /* provides a lot of space above title to view the background image */
        margin-top: 60px;
        }
    #splash{
        background-size: cover;
        }
    .navbar.responsive {position: relative;}
    .navbar ul li:not(:last-child) {display: none;}
    .navbar a.icon {
          float: left;
          display: block;
        }
     .navbar.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
        }
     .navbar.responsive a {
          float: none;
          display: block;

        }
  }
