@charset "UTF-8";
/* CSS Document */

/* --------------------------- HTML TAG STYLES ----------------------------- */

body{
        margin: 0;
        padding: 0;
}
p {
  font-size: 20px;
  line-height: 1.5;
  float: left;
}
h2{
  margin-top: 170px;
  font-size: 50px;
  font-family: letterpress;
  color: white;
}

/* -------------------------- PAGE SECTIONS ---------------------------- */
/* Visual sections of page are defined below in order of presentation */


#splash{
    height:550px;
    width: 100%;
    background: url(images/giphy.gif) no-repeat center top fixed;
   	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#overview{
    background-color:#B8E9ED;
    font-size: 15px;
}

#facts{
    background-color: #0EFFFF;
   	background-size: cover;

    font-size: 15px;
}

#video{
    background-color: #B8E9ED;
    font-size: 30px;
}

#footer{
    background-color: #0EFFFF;
}

#footer p{
  font-size: 12px;
}

/* ---------------- CONTAINER STYLES ----------------- */

.container {
  width: 960px; /* static width container always stays at this width no matter what the window size */
  margin: 0 auto;
  overflow: hidden;
}

.container h1{
  font-size: 35px;
}

.half_container { /* provides a two column presentation */
  width: 50%;
  float: left;
  overflow: hidden;
}

.youtube{
  /*margin-left: 220px;*/
  width: 960px;
  overflow: hidden;
}

.box{
    float:left;
    margin-right:20px;
}


/* ----------------- NAVIGATION BAR STYLES -------------------*/

.navbar{

	 /* navbar should always be shown even when page is scrolled */
  list-style: none;
  position:fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color:#D8E4F0;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 0.8;
}
/* horizontal menu bars are typically created using a styled unordered list. Here's how! */
.navbar ul {
	margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  float: right;
}

.navbar ul li a.button {
	font-size: 20px;
	text-decoration: none;
  color: #63071e;
	/* this padding defines the size of the buttons */
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
/* change button color when mouse hovers over */
.navbar ul a.button:hover {
	background-color: #BCC9D5;
  color: black;
}
.navbar ul a.button:active {
  	background-color: #BCC9D5;
}



/* ---------------- TITLE PAGE STYLES ------------------- */

#title-page{
  width: 100%;
  padding-top: 250px; /* provides a lot of space above title to view the background image */
  color: #FFE5F3;
  /*text-align: right;*/
}
#title-page h1 {
  font-family: 'Times New Roman', serif;
  font-size: 60px;
  text-shadow: 3px 3px #000; /* Shadow helps text to stand out from background */
}
#title-page h3 {
  font-size: 2.5em;
  font-style: italic;
  margin: 0 40px;
  padding-bottom: 20px;
  text-shadow: 2px 2px #000;
}

/* ---------------------- MISC -----------------------------*/
.fltright{
	float:right;
	margin: 20px;
}
.fltleft{
	float:left;
	margin: 20px 20px 20px 0;
}

/*--------------------- RWD ---------------------------------*/
@media screen and (max-width: 480px) {
  #navbar.menu.ul.li{
    float: none;
    border-bottom: 2px solid #51484a;
  }
  #navbar.responsive {position: relative;}
  #navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
